.action-link {
    color: #1E90FF; 
    cursor: pointer;
}

.action-link:hover {
    color: #104E8B; 
}

.status-tag {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  
  .status-tag.created {
    background-color: #87d068; 
    color: #000; 
  }
  
  .status-tag.processing {
    background-color: #f50; 
  }
  
  .status-tag.complete {
    background-color: #1890ff;
  }
  
  .status-tag.canceled {
    background-color: #aaa; 
  }